.thing-form
  margin 20px 0

#banner
  border-bottom none
  margin-top -20px

#banner h1
  font-size 60px
  letter-spacing -1px
  line-height 1

.hero-unit
  background #4393B9
  color #F5F5F5
  padding 30px 15px
  position relative
  text-align center
  text-shadow 0 1px 0 rgba(0, 0, 0, 0.1)

.navbar-text
  margin-left 15px

.nuevo
  background red !important
.usado
  background blue !important

.ahorcado
  position: absolute
  heght 400px
.uno
  width 200px
  height 200px
  position: absolute
  left: 10px
  top: 40px
.dos
  width 20px
  height 200px
  position: absolute
  left: 140px
  top: 40px
.tres
  width 400px
  height 20px
.cuatro
  width 200px
  height 200px
